<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- What does a Todo list need? -->
    <!-- 
      1. An input and a button (HTML)
      2. The input needs to be reactive v-model, and the button needs a click event, when clicked
        it needs to create a new paragraph with the information.
      3. Create another button, delete button (HTML)
      4. When the button delete is clicked, it needs to delete the Todo

      NOTE:
        When creating each paragraph (step 2), each Todo needs to have a create button and a delete button (step 3).

     -->
    <div id="app">
      <h1>{{info}}</h1>
      <input v-model="infoNote" />
      <button @click="createNote()">Create</button>
      <ul>
        <li v-for="newNote in newNotes" :key="newNote.id">{{newNote}}</li>
      </ul>
    </div>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            info: "Welcome to the Todo List",
            infoNote: "",
            newNotes: [],
          };
        },
        methods: {
          createNote() {
            if (this.infoNote.trim() !== "") {
              this.newNotes.push(this.infoNote);
            }
            this.infoNote = "";
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
